<app-sidebar></app-sidebar>
<div class="main-container">
  <div class="top-container">
    <div class="search">

    </div>
    <div class="add">
      <button (click)="goCreateEvent()">Add a new Event</button>
    </div>
  </div>
  <div class="main-container">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let event of events">
        <div class="name">
          {{event.name}}
        </div>  
        <div class="desc">
          {{event.date}} - {{event.hour}}
        </div>
        <div class="actions">
          <button (click)="editEvent(event)">Edit</button>
          <button (click)="openModal(template, event)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Are you sure you want to delete this event ?</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <button (click)="deleteEvent(event)">Yes</button>
      <button (click)="closeModal()">No</button>
  </div>
</ng-template>