<app-sidebar></app-sidebar>
<div class="main-container">
  <div class="top-container">
    <div class="search">
      <input type="text" placeholder="Search ..." name="" id="">
    </div>
    <div class="add">
      <button (click)="goCreateEvent()"><i class="material-icons dp18">add</i> Add a new Event</button>
    </div>
  </div>
  <div class="list-container">
    <h1>Your Spo(r)ts events</h1>
    <p>In this section, you can find all your events create with your pro account.</p>
    <ul class="list">
      <li class="list-item" *ngFor="let event of events">
        <div class="title">
          {{event.spot.name}}
        </div>
        <div class="dates">
          <p>{{event.date}}</p>
          <p>-</p>
          <p>{{event.hour}}</p>
        </div>
        <div class="actions">
          <button class="edit" (click)="editEvent(event)"><i class="material-icons dp18">edit</i> Edit</button>
          <button class="delete" (click)="openModal(template, event)"><i class="material-icons dp18">delete_outline</i> Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Are you sure you want to delete this event ?</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <button class="yes" (click)="deleteEvent(event)"><i class="material-icons dp18">check</i> Yes</button>
      <button class="no" (click)="closeModal()"><i class="material-icons dp18">clear</i> No</button>
  </div>
</ng-template>

<ngx-spinner
    bdColor = "rgba(52,58,64,0.9)"
    size = "medium"
    color = "#ffb300"
    type = "ball-climbing-dot"
    ></ngx-spinner>