<app-sidebar></app-sidebar>
<div class="main-container">
  <h1>Create your event</h1>
  <div class="form-container">
    <form #eventCreateForm="ngForm" (submit)="saveEvent(template)">

      <div class="form-group">
        <label for="name">Event name *</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="event.name" #name="ngModel" required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Event description *</label>
        <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="event.description" #description="ngModel"
          required></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.required">
            Description is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="address">Enter address * </label>
        <input type="text" class="form-control" id="address" name="address" (keyup)="updateSearch()" [(ngModel)]="autocomplete.query" #address="ngModel" required [ngModelOptions]="{standalone: true}" [placeholder]="' '"
        />
        <ul class="list-group addresses-list" *ngIf="showAddressList">
          <li class="list-group-item" *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
            {{item.description}}
          </li>
        </ul>
        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
          <div *ngIf="address.errors.required">
            Address is required.
          </div>
        </div>
      </div>

      <div #mapGoogle id="map"></div>

      <div class="form-group checkbox" *ngFor="let filter of filters; let i = index">
        <label for="filter-{{filter.id}}">{{filter.designation}}</label>
        <input type="checkbox" class="form-control" id="filter-{{filter.id}}" name="filter-{{filter.id}}" [(ngModel)]="checkedFilters[i]">
      </div>

      <div class="form-group">
        <label for="date">Event date *</label>
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="event.date" #date="ngModel" required>
        <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
          <div *ngIf="date.errors.required">
            Date is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="hour">Event time *</label>
        <input type="time" class="form-control" id="hour" name="hour" [(ngModel)]="event.hour" #hour="ngModel" required>
        <div *ngIf="hour.invalid && (hour.dirty || hour.touched)" class="alert alert-danger">
          <div *ngIf="hour.errors.required">
            Hour is required.
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="eventCreateForm.invalid">Create</button>

    </form>
  </div>
  <div class="bottom-container">
    <a [routerLink]="['/dashboard/events']">Return to events</a>
  </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Your event has been created !</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Go back to your events page.</p>
  
      <button (click)="goEvents()" class="back">Back to Events</button>
    </div>
  </ng-template>

  <ngx-spinner
    bdColor = "rgba(52,58,64,0.9)"
    size = "medium"
    color = "#ffb300"
    type = "ball-climbing-dot"
    ></ngx-spinner>