<app-sidebar></app-sidebar>
<div class="main-container">
  <h1>Create your event</h1>
  <div class="form-container">
    <form #eventCreateForm="ngForm" (submit)="saveEvent(template)">

      <div class="form-group">
        <label for="name">Event name *</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="event.name" #name="ngModel" required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Event description *</label>
        <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="event.description" #description="ngModel"
          required></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.required">
            Description is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="address">Enter address * </label>
        <input type="text" class="form-control" id="address" name="address" (keyup)="updateSearch()" [(ngModel)]="autocomplete.query" #address="ngModel" required [ngModelOptions]="{standalone: true}" [placeholder]="' '"
        />
        <ul class="list-group addresses-list" *ngIf="showAddressList">
          <li class="list-group-item" *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
            {{item.description}}
          </li>
        </ul>
        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
          <div *ngIf="address.errors.required">
            Address is required.
          </div>
        </div>
      </div>

      <div #mapGoogle id="map"></div>

      <div class="form-group checkbox">
        <div *ngFor="let filter of filters; let i = index">
          <label *ngIf="filter.designation !== 'Shops'" for="filter-{{filter.id}}">{{filter.designation}}</label>
          <input *ngIf="filter.designation !== 'Shops'" type="checkbox" class="form-control" id="filter-{{filter.id}}" name="filter-{{filter.id}}" [(ngModel)]="checkedFilters[i]">
        </div>
        <div *ngIf="checkboxRequire == true" class="alert alert-danger">
            <div>
              One filter is required.
            </div>
          </div>
      </div>

      <div class="form-group">
        <label for="date">Event date *</label>
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="event.date" #date="ngModel" required>
        <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
          <div *ngIf="date.errors.required">
            Date is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="hour">Event time *</label>
        <input type="time" class="form-control" id="hour" name="hour" [(ngModel)]="event.hour" #hour="ngModel" required>
        <div *ngIf="hour.invalid && (hour.dirty || hour.touched)" class="alert alert-danger">
          <div *ngIf="hour.errors.required">
            Hour is required.
          </div>
        </div>
      </div>

      <div class="form-group">
          <label for="price">Event price *</label>
          <input type="text" class="form-control" id="price" name="price" [(ngModel)]="event.price" #price="ngModel" required>
          <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
            <div *ngIf="price.errors.required">
              Price is required.
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="nb_user">Number of user max *</label>
          <input type="number" class="form-control" id="nb_user" name="nb_user" [(ngModel)]="event.nb_user" #nb_user="ngModel" required>
          <div *ngIf="nb_user.invalid && (nb_user.dirty || nb_user.touched)" class="alert alert-danger">
            <div *ngIf="nb_user.errors.required">
              Number max is required.
            </div>
          </div>
        </div>
  
        <div class="form-group">
            <label for="level">Level *</label>
            <select style="height: 35px;" class="form-control" id="level" required #level="ngModel" name="level" [(ngModel)]="event.level">
            <option [value]="0">Beginner</option>
            <option [value]="1">Intermediare</option>
            <option [value]="2">Good</option>
            </select>
            <div *ngIf="level.invalid && (level.dirty || level.touched)" class="alert alert-danger">
                <div *ngIf="level.errors.required">
                    Level is required.
                </div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="time">Time *</label>
            <select style="height: 35px;" class="form-control" id="time" required #time="ngModel" name="time" [(ngModel)]="event.time">
            <option [value]="0">1h</option>
            <option [value]="1">1h30</option>
            <option [value]="2">2h</option>
            <option [value]="3">+2h</option>
            </select>
            <div *ngIf="time.invalid && (time.dirty || time.touched)" class="alert alert-danger">
                <div *ngIf="time.errors.required">
                    time is required.
                </div>
            </div>
        </div>

      <button type="submit" [disabled]="eventCreateForm.invalid">Create</button>

    </form>
  </div>
  <div class="bottom-container">
    <a [routerLink]="['/dashboard/events']">Return to events</a>
  </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Your event has been created !</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Go back to your events page.</p>

      <button (click)="goEvents()" class="back">Back to Events</button>
    </div>
  </ng-template>

  <ngx-spinner
    bdColor = "rgba(52,58,64,0.9)"
    size = "medium"
    color = "#63d297"
    type = "ball-climbing-dot"
    ></ngx-spinner>
