.sidebar{
    position: fixed;
    background-color: #343a40;
    width: 250PX;
    height: 100vh;
    padding: 20px;
    top: 0;
    left: 0;
    transition: all ease-in-out 0.3s;
    z-index: 11;
}

.sidebar .close{
    display: none;
}

h4{
    font-size: 20px;
    color: white;
    border-bottom: 1px solid #63d297;
    padding-bottom: 10px;
}

.nav{
    margin-top: 50px;
}

.nav ul{
    padding: 0;
    list-style-type: none;
}
.nav ul li{
    margin-top: 20px;
}

.nav ul li a:hover,
.nav ul li p:hover{
    color: #63d297;
}

.nav ul li a,
.nav ul li p{
    color: white;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.nav ul li i{
    display: inline-block;
    vertical-align: text-top;
    margin-right: 10px;
    color: white;
}

.burger{
    display: none;
    z-index: 11;
}

@media screen and (max-width: 950px){
    .sidebar{
        left: -250px;
    }

    .sidebar.opened{
        left: 0;
    }

    .sidebar .close{
        display: block;
        color: white;
    }

    .burger.opened{
        display: none;
    }

    .burger{
        display: block;
        width: 50px;
        height: 50px;
        background-color: #343a40;
        cursor: pointer;
        position: fixed;
        top: 12px;
    }

    .burger i{
        color: white;
        margin-top: 11px;
        margin-left: 12px;
    }
}
